body {
  .box-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    .brand-stepper-container {
      padding-bottom: 60px;
      max-width: 800px;
      padding-left: 80px;
      .MuiStep-root {
        padding: 0;
        .MuiStepLabel-root {
          position: relative;
          .MuiStepLabel-iconContainer {
            padding: 0;
            .Mui-completed,
            .Mui-active {
              color: #3eaf29;
            }
          }
          .MuiStepLabel-labelContainer {
            position: absolute;
            top: calc(100% + 6px);
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            width: fit-content;
            .MuiStepLabel-label {
              font-family: "texta";
              font-size: 18px;
              font-weight: 600;
              &.Mui-completed,
              &.Mui-active {
                font-weight: 700;
              }
            }
          }
        }
      }
      @media (max-width: 760px) {
        padding-left: 50px;
        padding-right: 40px;
        padding-bottom: 100px;
        .MuiStep-root {
          .MuiStepLabel-root {
            .MuiStepLabel-labelContainer {
              white-space: wrap;
              width: fit-content;
              .MuiStepLabel-label {
                line-height: 1;
              }
            }
          }
        }
      }
      @media (max-width: 540px) {
        padding-left: 30px;
        padding-right: 20px;
        padding-bottom: 80px;
        .MuiStep-root {
          .MuiStepLabel-root {
            .MuiStepLabel-labelContainer {
              .MuiStepLabel-label {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
.footer-container {
  background-color: #f4f5f7;
  border-top: 1px solid #e5e6e8;
  padding: 20px 30px;
  .MuiBox-root {
    padding: 0;
    justify-content: flex-end;
    gap: 10px;
    .MuiBox-root {
      display: none;
    }
  }
  .MuiButton-textPrimary {
    background-color: #3eaf29;
    border-radius: 30px;
    color: #ffffff;
    padding: 4px 30px;
    &:hover {
      background-color: #3eaf29;
    }
    &:disabled {
      color: #ffff;
      cursor: not-allowed;
    }
  }
  .MuiButton-textInherit {
    background-color: #9299a1;
    border-radius: 30px;
    color: #ffffff;
    padding: 4px 30px;
    &:hover {
      background-color: #9299a1;
    }
  }
  .MuiButtonBase-root {
    font-family: "Texta";
    font-size: 18px;
    gap: 5px;
    text-transform: none;
    img {
      width: 30px;
    }
    @media (max-width: 560px) {
      font-size: 15px;
      padding: 6px 20px;
    }
  }
}
.input-container {
  a {
    text-align: left;
    display: flex;
  }
  .input-labels {
    margin-bottom: 6px;
    text-align: left;
    color: #333333;
    div {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.1;
      &:empty {
        height: 20px;
      }
      .required {
        color: #e70000;
      }
    }
    span {
      font-size: 16px;
      &:empty {
        display: flex;
        height: 6px;
      }
    }
  }
  .MuiFormControl-root {
    width: 100%;
    input {
      padding: 12px !important;
    }
  }
}
.dropdown-container {
  .input-labels {
    margin-bottom: 6px;
    text-align: left;
    color: #333333;
    div {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.1;
      .required {
        color: #e70000;
      }
    }
    span {
      font-size: 16px;
      &:empty {
        display: flex;
        height: 6px;
      }
    }
  }
  .MuiAutocomplete-root {
    width: 100%;
    background-color: #0000000f;
    input {
      padding: 12px !important;
    }
  }
}
.checkbox-container-main {
  .input-labels {
    margin-bottom: 6px;
    text-align: left;
    color: #333333;
    div {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.1;
      .required {
        color: #e70000;
      }
    }
    span {
      font-size: 16px;
      &:empty {
        display: flex;
        height: 6px;
      }
    }
  }
  .checkboxes-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 1050px) and (min-width: 768px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 540px) {
      grid-template-columns: 1fr;
    }
    .checkbox-container {
      display: flex;
      .MuiCheckbox-root {
        .MuiTypography-root {
          color: #888888;
          font-weight: 500;
          font-family: "Texta";
          font-size: 19px;
        }
        &:hover {
          background-color: #3eaf290f;
        }
        &.Mui-checked {
          svg {
            color: #3eaf29;
          }
        }
      }
    }
  }
}
.payment-checkbox {
  .MuiCheckbox-root {
    .MuiTypography-root {
      color: #888888;
      font-weight: 500;
      font-family: "Texta";
      font-size: 19px;
    }
    &:hover {
      background-color: #3eaf290f;
    }
    &.Mui-checked {
      svg {
        color: #3eaf29;
      }
    }
  }
}
.dsm-inputbox-error-msg {
  display: flex;
  margin-top: 4px;
  color: #e70000;
}
.image-card-container {
  text-align: left;
  header {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 12px;
    color: #333333;
  }
  .img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    aspect-ratio: 1/0.2;
    object-fit: cover;
    background-size: cover;
    background-position-y: 70%;
  }
}
